@page
@model IndexModel



<h1> Weather Lookup!</h1>
@{
    if (Model.Forecast is null)
    {
        <form method="post">
            <label for="zipcode">Zipode:</label>
            <input type="int" , id="zipcode" name="zipcode"><br><br>
            <input type="submit" , value="Submit">
        </form>
    }
    else
    {
        <p> The weather is currently: @Model.Forecast.summary, with a temperature of @Model.Forecast.temperature C. </p>
    }
}
