@page
@model SubscribeModel



<h1>Subscribe to weather-consumer!</h1>

<form method="post">
    <label for="email">Enter your email to sign up:</label>
    <input type="email" , id="email" name="email"><br><br>
    <input type="submit" , value="Submit">
</form>

@{
if(@Model.email is not null) {
    <p> Registered email @Model.email !</p>
}
}