@page
@model SubscribeModel



<h1>Subscribe to weather alerts!</h1>

<form method="post">
    <h4><label for="email">Enter your email and zipcode below to sign up.</label></h4><br><br>
    <p>Email: </p>
    <input type="email" , id="email" name="email"><br><br>
    <p>Zipcode: </p>
    <input type="zipcode", id="zipcode" name="zipcode"><br><br>
    <input type="submit" , value="Submit">
</form>

@{
if(@Model.email is not null) {
    <p style="color:green;"> Registered email @Model.email !</p>
}
}