@page
@model UnsubscribeModel



<h1>Unsubscribe from weather alerts!</h1>

<form method="post">
    <label for="email">Enter your email to unsubscribe:</label>
    <input type="email" , id="email" name="email"><br><br>
    <input type="submit" , value="Submit">
</form>

@{
    if (@Model.email is not null)
    {
        if (@Model.success)
        {
            <p style="color:green;">Unsubscribed @Model.email !</p>
        }
        else
        {
            <p style="color:red;">Failed to
            <ul></ul>nsubscribe @Model.email !</p>
        }
    }
}